/*GENERAL*/
:root{
    --font_base: "Roboto", sans-serif;
    --gris_obscuro: #6B6A7A;
    --gris_claro: #a5a5b1;
    --beige: #EAE2D7;
    --rosa: #ED959C;
    --cafe_claro: #DFC9CB;
    --azul_claro: #ECF7FB;
    --lila: #D99BFF;

}
/*Navbar*/
.navbar{
    background-color: var(--gris_obscuro) ;
    display: flex;
    justify-content: space-between;

  }
.contactanos{
    font-size: 22px;
}
 #logo{
     margin-left: 50px;
 }
 .form-inline{
     margin-left: 20px;
 }
 .collapse{
    margin-left: 50px;
 }
 .iconos{
    
    margin-left: 100px; 
    display: flex;
    align-items: flex-end;
 }
 .inicio_sesion{
     margin-right: 30px;
 }
 .carrito_compra{
     margin-right: 30px;
 }


/* Padding general de la página */
body{
    /*padding: 20px;*/
    background-color: var(--cafe_claro);
}
/* media query para celular de navbar*/
@media screen and (max-width: 600px){

    .titulo_equipo{
        
        font-weight: normal;
        font-size: 20px;
    }
    .texto_equipo{
        font-size:15px;
    }
    #logo{
        display:none;
    /* width: 50px; height: 50px;
     margin-left: 0px;*/
    }
    .barra_busqueda{
     display: none;

    }
    .inicio_sesion{
        width: 20px; height: 20px;
        margin-right: 30px;
        
        display: flex;
        align-items: flex-start;
    }
    .carrito_compra{
        width: 20px; height: 20px;
        margin-right: 30px;
        
        
    }
    .iconos{
        display: flex;
        flex-wrap: flex-start;
        
        
    }
    .text-muted{
        font-weight: bold;
        font-size: 10px;
        
    }
    

}

/*Jumbotron*/
.jumbotron{
    background-image: url(./src/taza_maria_haro.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.title_curses{
    text-align: center;
    color: white;
}


.img_cursos{
    border-radius: 2%;
   
    
}

/* Organización interna y externa dentro de las cards */
.col-md-8{
    max-width: 98%;
}

.col-sm-8{
    max-width: 98%;
}

.col-8{
    max-width: 100%;
}

.col-4, .col-sm-4 .col-md-4{
    padding: 0px;
    padding-right: 50px;
}

/* Orientación y organización para la tarjeta y su espectiva imagen*/
.row{
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    
}

.texto{
    text-align: center;
}


/* Organización de los íconos y botones */
.botones{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    justify-content: center;
}

/* Tamaño de los íconos */
.boton_img{
    width: 40px;
    height: 40px;
    
  
  
}
.btn{
    padding-left: 20%;
    padding-right: 20%;
}

