
@import url(about_us.css);
@import url(contactanos.css);

:root{
    --font_base: "Roboto", sans-serif;
    --gris_obscuro: #6B6A7A;
    --beige: #EAE2D7;
    --rosa: #ED959C;
    --cafe_claro: #DFC9CB;
    --azul_claro: #ECF7FB;
}
