/* G E N E R A L */
:root{
    --font_base: "Roboto", sans-serif;
    --gris_obscuro: #6B6A7A;
    --gris_claro: #a5a5b1;
    --beige: #EAE2D7;
    --rosa: #ED959C;
    --cafe_claro: #DFC9CB;
    --azul_claro: #ECF7FB;
    --lila: #D99BFF;
}

/* N A V B A R */
.navbar{
    background-color: var(--gris_obscuro) ;
    display: flex;
    justify-content: space-between;

  }
.contactanos{
    font-size: 22px;
}
 #logo{
     margin-left: 50px;
 }
 .form-inline{
     margin-left: 20px;
 }
 .collapse{
    margin-left: 50px;
 }
 .iconos{
    display: flex;
    align-items: center;
 }
 .inicio_sesion{
     margin-right: 0px;
 }
 .carrito_compra{
     margin-right: 30px;
 }

 .busqueda{
    background-image: url("./../img/search_icon.png");
    background-repeat: no-repeat;
    background-position: 2%;
    background-size: 5%;
    background-blend-mode: hard-light;
    background-color: rgb(231, 211, 214);
    padding-left: 8%;
    border-color: rgb(231, 211, 214);
 }

 .boton_inicio{
    background-color: var(--gris_obscuro);
 }

 .nav-link{
     color: var(--gris_obscuro);
 }

 .text{
     color: var(--gris_obscuro);
 }

 a.nav-link.dropdown-toggle.btn.boton_inicio::after{
     display: none;
 }

/* C U E R P O */
body{
    /*padding: 20px;*/
    background-color: var(--cafe_claro);
}

/* F O O T E R */
.pie_pagina{
    width: 100%;
    background-color: var(--gris_obscuro);
}
.pie_pagina .grupo_1{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 20px 0px;
}
.pie_pagina .grupo_1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie_pagina .grupo_1 .box .btn-block{
    border-radius: 400px;
    background-color:#ED959C;
}
.pie_pagina .grupo_1 .box figure img{
    width: 200px;
}

.pie_pagina .grupo_1 .box h4{
    color:white;
    margin-bottom: 50px;
    margin-top: 40px;
    font-size: 20px;
}
.pie_pagina .grupo_1 .box .btn{
    color:white;
    margin-bottom: 50px;
    margin-top: 60px;
}
.pie_pagina .grupo_1 .red_social a{
    font-size: 40px;
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin-right: 20px;
    background-color: var(--cafe_claro);
    text-align: center;
    transition: all 300ms ease;
}
.pie_pagina .grupo_1 .red_social a:hover{
     color:rgb(235, 164, 211);
}
.pie_pagina .grupo_2{
    background-color: var(--cafe_claro);
    padding: 15px 10px;
    text-align: center;
    color:black;
}
.pie_pagina .grupo_2 small{
    font-size: 15px;
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.siguenos{
    margin-right: 50px;
}

.fa{
    border-radius: 10%;
}

.desaparecer{
    display: none;
}



@media screen and (max-width: 769px){
    .hamburguesa{
        order: 2;
        margin-right: 0;
    }
    .iconos{
        margin-right:auto;
        margin-left: 0px;
    }

    .contactanos{
        font-size: 15px;
    }
 }