/*GENERAL*/
:root{
    --font_base: "Roboto", sans-serif;
    --gris_obscuro: #6B6A7A;
    --gris_claro: #a5a5b1;
    --beige: #EAE2D7;
    --rosa: #ED959C;
    --cafe_claro: #DFC9CB;
    --azul_claro: #ECF7FB;
    --lila: #D99BFF;

}
/*Navbar*/
.navbar{
    background-color: var(--gris_obscuro) ;
    display: flex;
    justify-content: space-between;

  }
.contactanos{
    font-size: 22px;
}
 #logo{
     margin-left: 50px;
 }
 .form-inline{
     margin-left: 20px;
 }
 .collapse{
    margin-left: 50px;
 }
 .iconos{
    
    margin-left: 100px; 
    display: flex;
    align-items: flex-end;
 }
 .inicio_sesion{
     margin-right: 30px;
 }
 .carrito_compra{
     margin-right: 30px;
 }


/* Padding general de la página */
body{
    /*padding: 20px;*/
    background-color: var(--cafe_claro);
}
/* media query para celular de navbar*/
@media screen and (max-width: 600px){

    .titulo_equipo{
        
        font-weight: normal;
        font-size: 20px;
    }
    .texto_equipo{
        font-size:15px;
    }
    #logo{
        display:none;
    /* width: 50px; height: 50px;
     margin-left: 0px;*/
    }
    .barra_busqueda{
     display: none;

    }
    .inicio_sesion{
        width: 20px; height: 20px;
        margin-right: 30px;
        
        display: flex;
        align-items: flex-start;
    }
    .carrito_compra{
        width: 20px; height: 20px;
        margin-right: 30px;
        
        
    }
    .iconos{
        display: flex;
        flex-wrap: flex-start;
        
        
    }
    .text-muted{
        font-weight: bold;
        font-size: 10px;
        
    }
    

}





/*Footer*/

.pie_pagina{
    width: 100%;
    background-color: var(--gris_obscuro);
}
.pie_pagina .grupo_1{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 20px 0px;
}
.pie_pagina .grupo_1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie_pagina .grupo_1 .box .btn-block{
    border-radius: 400px;
    background-color:#ED959C;
}
.pie_pagina .grupo_1 .box figure img{
    width: 200px;
}

.pie_pagina .grupo_1 .box h4{
    color:white;
    margin-bottom: 50px;
    margin-top: 40px;
    font-size: 20px;
}
.pie_pagina .grupo_1 .box .btn{
    color:white;
    margin-bottom: 50px;
    margin-top: 60px;
}
.pie_pagina .grupo_1 .red_social a{
    font-size: 40px;
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin-right: 20px;
    background-color: var(--cafe_claro);
    text-align: center;
    transition: all 300ms ease;
}
.pie_pagina .grupo_1 .red_social a:hover{
     color:rgb(235, 164, 211);
}
.pie_pagina .grupo_2{
    background-color: var(--cafe_claro);
    padding: 15px 10px;
    text-align: center;
    color:black;
}
.pie_pagina .grupo_2 small{
    font-size: 15px;
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.siguenos{
    margin-right: 50px;
}
/*Media screen de celular*/
@media screen and (max-width:600px){
    .pie_pagina .grupo_1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 0px 0px;
    }

    
}

/*Resposive de tablet*/
@media screen and (max-width:800px){ 
    .barra_busqueda{
        display: none;
   
       }
    #logo{
        display:none;
    }
}